################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Poc.ShopCqrs/.vs
/Poc.ShopCqrs/Poc.ShopCqrs.API/obj
/Poc.ShopCqrs/Poc.ShopCqrs.Application/obj/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Application/obj
/Poc.ShopCqrs/Poc.ShopCqrs.Domain/bin/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Domain/obj
/Poc.ShopCqrs/Poc.ShopCqrs.Service/obj
/Poc.ShopCqrs/Poc.ShopCqrs.Sql/obj
/Poc.ShopCqrs/Poc.ShopCqrs.API/bin/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Application/bin/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Sql/bin/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Service/bin/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Cache/bin/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Cache/obj
/Poc.ShopCqrs/Poc.ShopCqrs.Bus/bin/Debug/net8.0
/Poc.ShopCqrs/Poc.ShopCqrs.Bus/obj
/Poc.ShopCqrs/Poc.ShopCqrs.Domain.Core/obj
/Poc.ShopCqrs/Poc.ShopCqrs.Ioc/obj
